<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- china flavor disables AdMob; remove startup provider to avoid App ID check crash -->
        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            tools:node="remove" />
    </application>
</manifest>
